/* *{
    border: 1px solid blue;
}
*/
body {
    font-family: monospace;
    background-color: black;
    color: #00FF00;
}
#container {
    height: 800px;
    min-width: 550px;
    display: flex;
    flex-direction: column;

}
#buttons {
    grid-column: 1/3 ;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bbb {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardsContainer {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.bookCard {
    padding: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
        
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
li {
    padding: 6px;
    display: flex;
}
#buttons {
    padding: 20px
}

button {
    margin: 8px;
    background-color: black;
    color: white;
    border: 1px dashed white;
    border-radius: 2px;
}
#display {
    min-height: 20px;
    text-align: center;
}
div {
    padding: 3px;
}
#buttons > button, #bbb > button {
    border-style: solid;
}
